.carousel {
  width: 600px;
  height: 380px;
  margin: auto;
}

.carousel-control-prev {
  color: black;
  background-color: black;
  height: 300px;
}
.carousel-control-next {
  color: black;
  background-color: black;

  height: 300px;
}

.carousel .carousel-control-prev-icon {
  visibility: visible;
  background-color: black;
}
.carousel:hover .carousel-control-prev-icon {
  visibility: visible;
  background-color: black;
}

.carousel .carousel-control-next-icon {
  visibility: visible;
  background-color: black;
}
.carousel:hover .carousel-control-next-icon {
  visibility: visible;
  background-color: black;
}
